.gears {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #929497;
  background: #03416e;
  overflow: hidden;
  box-sizing: border-box; }

.gears .big {
  width: 100px;
  height: 100px;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
  -webkit-animation: rotate 1.5s linear infinite;
  -moz-animation: rotate 1.5s linear infinite;
  -o-animation: rotate 1.5s linear infinite;
  animation: rotate 1.5s linear infinite; }

.gears .small {
  width: 70px;
  height: 70px;
  margin-left: -6px;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
  -webkit-animation: reverseRotate 1.5s linear infinite;
  -moz-animation: reverseRotate 1.5s linear infinite;
  -o-animation: reverseRotate 1.5s linear infinite;
  animation: reverseRotate 1.5s linear infinite; }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); } }

@-moz-keyframes rotate {
  0% {
    -moz-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -moz-transform: rotate(180deg);
    transform: rotate(180deg); } }

@-o-keyframes rotate {
  0% {
    -o-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -o-transform: rotate(180deg);
    transform: rotate(180deg); } }

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); } }

@-webkit-keyframes reverseRotate {
  0% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0); } }

@-moz-keyframes reverseRotate {
  0% {
    -moz-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -moz-transform: rotate(0);
    transform: rotate(0); } }

@-o-keyframes reverseRotate {
  0% {
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -o-transform: rotate(0);
    transform: rotate(0); } }

@keyframes reverseRotate {
  0% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); } }

.viewport {
  width: 100%;
  height: 540px; }
  .viewport img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; }

.onama {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 60px; }
  .onama h4 {
    text-align: right; }

.projects .project__1 p,
.projects .project__2 p,
.projects .project__3 p {
  font-size: 14px;
  line-height: 1.5; }

.about__text p {
  text-align: justify;
  line-height: 1.5; }

.horizontal__line {
  display: inline-block;
  width: 80%;
  height: 3px;
  background-color: #03416e;
  display: flex;
  align-self: flex-end; }

/* carousel style */
.carousel {
  position: relative;
  height: 100%;
  width: 100%;
  margin: auto;
  overflow: hidden; }

/* div u slici */
.carousel__slide {
  position: relative; }

.carousel-div {
  position: absolute;
  left: 50%;
  top: 80px;
  height: auto;
  width: 870px;
  padding: 20px 20px;
  opacity: 0;
  animation: innerImg 1s forwards;
  animation-delay: .8s;
  text-align: center;
  background-color: transparent;
  font-weight: 900; }

.carousel-div h1 {
  font-size: 2.5rem;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  color: #fff;
  visibility: visible;
  text-align: center;
  line-height: 72px;
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 65px; }

.carousel-div p {
  margin: 0;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 17px; }

.inner__link__left:hover {
  background-color: #fff;
  color: #03416e; }
  .inner__link__left:hover a {
    background-color: #fff;
    color: #03416e; }

.inner__link__right:hover {
  background-color: #03416e;
  color: #fff; }
  .inner__link__right:hover a {
    background-color: #03416e;
    color: #fff; }

.inner__link__left {
  left: 50%;
  animation: innerLinkLeft 1s forwards;
  background-color: #03416e;
  line-height: 51px;
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 14px;
  border-color: rgba(255, 255, 255, 0);
  border-style: none;
  margin: 0px;
  color: #03416e;
  text-decoration: none;
  white-space: nowrap;
  width: auto;
  height: auto;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  opacity: 1;
  border-width: 0px;
  position: absolute;
  bottom: 15%;
  display: block;
  visibility: visible;
  overflow: visible;
  box-sizing: border-box;
  transform-origin: left;
  transform: scale(1);
  -webkit-transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 20ms;
  -o-transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 20ms;
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 20ms; }
  .inner__link__left a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 100;
    padding: 17px 30px;
    -webkit-transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 20ms;
    -o-transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 20ms;
    transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 20ms; }

.inner__link__right {
  right: 50%;
  animation: innerLinkRight 1s forwards;
  background-color: #fff;
  line-height: 51px;
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 14px;
  border-color: rgba(255, 255, 255, 0);
  border-style: none;
  margin: 0px;
  color: #03416e;
  text-decoration: none;
  white-space: nowrap;
  width: auto;
  height: auto;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  opacity: 1;
  border-width: 0px;
  position: absolute;
  bottom: 15%;
  display: block;
  visibility: visible;
  overflow: visible; }
  .inner__link__right a {
    text-decoration: none;
    color: #03416e;
    font-size: 14px;
    font-weight: 100;
    padding: 17px 30px;
    -webkit-transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 20ms;
    -o-transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 20ms;
    transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 20ms; }

@keyframes innerLinkLeft {
  0% {
    /* transform: translateX(35px) scale(1.3); */
    transform: translateX(-350px) scale(1); }
  50% {
    /* transform: translateX(35px) scale(1.3); */
    transform: translateX(50px) scale(1); }
  100% {
    /* transform: translateX(0px) scale(1); */
    transform: translateX(-135px) scale(1); } }

@keyframes innerLinkRight {
  0% {
    /* transform: translateX(35px) scale(1.3); */
    transform: translateX(350px) scale(1); }
  50% {
    /* transform: translateX(35px) scale(1.3); */
    transform: translateX(-50px) scale(1); }
  100% {
    /* transform: translateX(0px) scale(1); */
    transform: translateX(135px) scale(1); } }

@keyframes innerImg {
  0% {
    /* transform: translateX(35px) scale(1.3); */
    transform: translateY(-350px) translateX(-50%) scale(0.9); }
  50% {
    /* transform: translateX(35px) scale(1.3); */
    transform: translateY(50px) translateX(-50%) scale(1.1); }
  100% {
    opacity: 1;
    /* transform: translateX(0px) scale(1); */
    transform: translateY(0) translateX(-50%) scale(1); } }

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center; }

.carousel__track-container {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }

/*li stile */
.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 450ms ease-in; }

.carousel__track li {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%; }

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
  outline: none; }

.carousel__button--left {
  left: 10%;
  z-index: 1;
  animation: innerImg 1s forwards; }

.carousel__button--right {
  right: calc(10% - 70px);
  animation: innerImg 1s forwards; }

.carousel__button img {
  width: 60px; }

.carousel .carousel__nav {
  background-color: transparent;
  padding: 5px 0;
  position: absolute;
  align-self: center;
  border-radius: 50%; }

.carousel div button {
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background: 0 0;
  border: 4px solid #fff;
  box-sizing: content-box;
  margin: 0 12px;
  padding: 0px;
  z-index: 1;
  outline: none; }

.carousel div button.current-slide {
  background: #fff;
  border-color: black; }

.is-hiden {
  display: none; }

/* end of carousel style */
.slider {
  width: 100%;
  height: 540px; }
  .slider .slider__wraper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden; }
    .slider .slider__wraper .slider__right {
      width: 100%;
      height: 100%; }

.about {
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-direction: column; }
  .about h3 {
    margin: 60px 60px;
    font-size: 48px;
    font-weight: 700; }
  .about h4 {
    margin: 60px 0px 10px 0px;
    font-size: 24px; }
  .about .about__text {
    text-align: center; }
    .about .about__text h4 {
      text-align: left;
      margin-bottom: 30px; }
    .about .about__text ul {
      text-align: left; }
  .about .projects {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'projects__header projects__header projects__header' 'project__1 project__2 project__3';
    gap: 20px;
    box-sizing: border-box;
    height: auto; }
    .about .projects .color {
      color: #03416e;
      font-weight: 400;
      font-size: 15px; }
    .about .projects p {
      display: inline-block;
      margin-right: 30px; }
    .about .projects .projects__header {
      grid-area: projects__header;
      text-align: center; }
      .about .projects .projects__header p {
        margin: 0px 0px 60px 0px; }
    .about .projects .img {
      overflow: hidden;
      width: 100%;
      height: 250px; }
    .about .projects .img__efect {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover; }
    .about .projects img {
      transition: all 1s ease-in-out; }
    .about .projects img:hover {
      transform: scale(1.2); }
    .about .projects .project__1 {
      grid-area: project__1;
      width: 100%;
      height: 570px; }
      .about .projects .project__1 h4 {
        margin: 10px 0px 10px 0px; }
    .about .projects .project__2 {
      grid-area: project__2;
      width: 100%;
      height: 570px; }
      .about .projects .project__2 h4 {
        margin: 10px 0px 10px 0px; }
    .about .projects .project__3 {
      grid-area: project__3;
      width: 100%;
      height: 570px; }
      .about .projects .project__3 h4 {
        margin: 10px 0px 10px 0px; }
  .about .btn__arrow {
    text-decoration: none;
    color: #929497;
    font-size: 17px;
    font-weight: 700;
    transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 20ms; }
  .about .btn__arrow:hover {
    color: #03416e; }
  .about .btn__arrow:after {
    content: '';
    background-image: url(../images/right-arrow-link.svg);
    height: 10px;
    width: 15px;
    background-position: center;
    background-size: cover;
    margin-left: 7px;
    font-size: 13px;
    opacity: 0;
    display: inline-block;
    -webkit-transform: translateX(-15px);
    -khtml-transform: translateX(-15px);
    -moz-transform: translateX(-15px);
    -ms-transform: translateX(-15px);
    -o-transform: translateX(-15px);
    transform: translateX(-15px);
    -webkit-transition: all .3s linear 0ms;
    -khtml-transition: all .3s linear 0ms;
    -moz-transition: all .3s linear 0ms;
    -ms-transition: all .3s linear 0ms;
    -o-transition: all .3s linear 0ms;
    transition: all .3s linear 0ms; }
  .about .btn__arrow:hover:after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -khtml-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px); }

.usluge {
  padding-top: 60px;
  margin-bottom: 60px; }
  .usluge .svg__container {
    width: 120px;
    height: 120px;
    margin: auto; }
  .usluge .mySvg {
    width: 100%;
    height: 100%;
    fill: #03416e;
    fill-opacity: 1;
    transition: all .3s ease-in-out; }
  .usluge .jobOffer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto; }
    .usluge .jobOffer a {
      text-decoration: none; }
    .usluge .jobOffer a:hover .mySvg {
      fill: #929497;
      transform: scale(1.07); }
    .usluge .jobOffer img {
      width: 100%;
      height: 100%;
      transition: all 1s ease-in-out; }
    .usluge .jobOffer a:hover img {
      transform: scale(1.1); }
    .usluge .jobOffer h5 {
      margin-bottom: 0px;
      font-size: 20px;
      font-weight: 900;
      text-align: center; }
    .usluge .jobOffer p {
      margin-top: 0px;
      color: #03416e;
      font-size: 16px;
      font-weight: 600;
      text-align: center; }

.viewport {
  width: 100%;
  height: 230px;
  position: relative; }
  .viewport img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; }
  .viewport p {
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-510px);
    font-size: 40px;
    font-weight: 900;
    color: #fff; }

.main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 30px; }
  .main .flex__container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .main .flex__container .date {
      color: #03416e;
      font-size: 20px;
      text-align: center;
      margin: 30px 0px 0px 0px;
      font-weight: bolder; }
    .main .flex__container .company__name {
      color: #03416e;
      font-size: 40px;
      text-align: center;
      margin: 10px 0px 0px 0px;
      font-weight: bolder; }
    .main .flex__container .text {
      text-align: justify; }
  .main .container__flex__grid {
    margin: auto;
    margin-top: 30px; }
    .main .container__flex__grid img {
      width: 100%;
      height: 250px;
      object-fit: cover;
      object-position: center; }

.row > .column {
  padding: 0 8px; }

.row:after {
  content: "";
  display: table;
  clear: both; }

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%; }

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 100000;
  padding-bottom: 100px;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: black; }

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 800px; }

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer; }

/* Hide the slides by default */
.mySlides {
  display: none; }

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: rgba(0, 0, 0, 0.589); }

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; }

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white; }

img.demo {
  opacity: 0.6; }

.active,
.demo:hover {
  opacity: 1; }

img.hover-shadow {
  transition: 0.3s; }

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 30px;
  margin-top: 60px; }
  .main .flex__container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .main .flex__container .company__logo {
      width: 210px;
      background-color: blue;
      height: 70px;
      margin-bottom: 5px;
      font-size: 30px;
      color: #fff;
      text-align: center; }
    .main .flex__container a {
      text-decoration: none;
      color: #929497;
      font-size: 18px;
      outline: none;
      margin-bottom: 30px; }
    .main .flex__container .text {
      text-align: justify;
      margin-bottom: 30px; }
  .main .btn__arrow {
    text-decoration: none;
    color: #929497;
    font-size: 17px;
    font-weight: 700; }
  .main .btn__arrow:hover {
    color: #03416e; }
  .main .btn__arrow:after {
    content: '';
    background-image: url(../images/right-arrow-link.svg);
    height: 10px;
    width: 15px;
    background-position: center;
    background-size: cover;
    margin-left: 7px;
    font-size: 13px;
    opacity: 0;
    display: inline-block;
    -webkit-transform: translateX(-15px);
    -khtml-transform: translateX(-15px);
    -moz-transform: translateX(-15px);
    -ms-transform: translateX(-15px);
    -o-transform: translateX(-15px);
    transform: translateX(-15px);
    -webkit-transition: all .3s linear 0ms;
    -khtml-transition: all .3s linear 0ms;
    -moz-transition: all .3s linear 0ms;
    -ms-transition: all .3s linear 0ms;
    -o-transition: all .3s linear 0ms;
    transition: all .3s linear 0ms; }
  .main .btn__arrow:hover:after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -khtml-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px); }

.contact__form {
  padding: 50px 0; }
  .contact__form .contact {
    margin: auto;
    display: flex;
    flex-direction: row; }
    .contact__form .contact .contact__left {
      width: 35%; }
      .contact__form .contact .contact__left .contact__about .heading h5 {
        margin-bottom: 20px;
        font-size: 16px; }
      .contact__form .contact .contact__left .contact__about .adress {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: flex-start; }
        .contact__form .contact .contact__left .contact__about .adress .contact__span {
          width: 13px;
          height: 13px;
          margin-right: 13px; }
          .contact__form .contact .contact__left .contact__about .adress .contact__span img {
            width: 100%;
            height: 100%; }
          .contact__form .contact .contact__left .contact__about .adress .contact__span svg {
            width: 100%;
            height: 100%; }
        .contact__form .contact .contact__left .contact__about .adress .contact__p {
          font-size: 13px;
          margin: 7px 0px; }
          .contact__form .contact .contact__left .contact__about .adress .contact__p a {
            font-size: 13px;
            font-weight: 900;
            text-decoration: none;
            color: #929497; }
          .contact__form .contact .contact__left .contact__about .adress .contact__p a:hover {
            color: #03416e; }
      .contact__form .contact .contact__left .contact__working__time {
        display: flex;
        flex-direction: column; }
        .contact__form .contact .contact__left .contact__working__time .contact__inner {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding-right: 100px; }
          .contact__form .contact .contact__left .contact__working__time .contact__inner .left p {
            font-size: 13px; }
          .contact__form .contact .contact__left .contact__working__time .contact__inner .right p {
            font-size: 13px; }
    .contact__form .contact .contact__right {
      width: 65%; }
      .contact__form .contact .contact__right .half {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between; }
        .contact__form .contact .contact__right .half input {
          background-color: #f4f4f4;
          -webkit-border-radius: 0px;
          -khtml-border-radius: 0px;
          -moz-border-radius: 0px;
          -ms-border-radius: 0px;
          -o-border-radius: 0px;
          border-radius: 0;
          border: none;
          color: #9b9b9b;
          padding: 8px 20px;
          box-sizing: border-box;
          line-height: normal;
          height: 51px;
          font-size: 13px;
          -webkit-transition: all .3s linear 0ms;
          -khtml-transition: all .3s linear 0ms;
          -moz-transition: all .3s linear 0ms;
          -ms-transition: all .3s linear 0ms;
          -o-transition: all .3s linear 0ms;
          transition: all .3s linear 0ms;
          -webkit-box-shadow: none;
          -khtml-box-shadow: none;
          -moz-box-shadow: none;
          -ms-box-shadow: none;
          -o-box-shadow: none;
          box-shadow: none;
          width: 49%;
          outline: none; }
        .contact__form .contact .contact__right .half input:focus {
          outline: 1px solid #03416e; }
      .contact__form .contact .contact__right .full textarea {
        background-color: #f4f4f4;
        box-sizing: border-box;
        border: none;
        color: #9b9b9b;
        line-height: normal;
        padding: 8px 20px;
        font-size: 13px;
        -webkit-transition: all .3s linear 0ms;
        -khtml-transition: all .3s linear 0ms;
        -moz-transition: all .3s linear 0ms;
        -ms-transition: all .3s linear 0ms;
        -o-transition: all .3s linear 0ms;
        transition: all .3s linear 0ms;
        -webkit-box-shadow: none;
        -khtml-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none;
        width: 100%;
        outline: none; }
      .contact__form .contact .contact__right .full textarea:focus {
        outline: 1px solid #03416e; }
      .contact__form .contact .contact__right button {
        width: 100%;
        background-color: #03416e;
        font-size: 14px;
        border: 2px solid #03416e;
        color: #fff;
        text-transform: capitalize;
        padding: 0 30px;
        line-height: 47px;
        -webkit-transition: all .3s linear 0ms;
        -khtml-transition: all .3s linear 0ms;
        -moz-transition: all .3s linear 0ms;
        -ms-transition: all .3s linear 0ms;
        -o-transition: all .3s linear 0ms;
        transition: all .3s linear 0ms;
        -webkit-border-radius: 1px;
        -khtml-border-radius: 1px;
        -moz-border-radius: 1px;
        -ms-border-radius: 1px;
        -o-border-radius: 1px;
        border-radius: 1px;
        position: relative;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        position: relative;
        font-weight: 700; }
      .contact__form .contact .contact__right button:hover {
        background-color: #929497;
        border-color: #929497; }
      .contact__form .contact .contact__right .email-invalid {
        color: red;
        font-size: 12px; }
      .contact__form .contact .contact__right .wrong {
        color: red; }
      .contact__form .contact .contact__right .pure-form fieldset {
        margin: 0;
        padding: 0;
        border: 0;
        width: 50%; }
      .contact__form .contact .contact__right #email {
        width: 100%; }
      .contact__form .contact .contact__right .thankyou_message h2 {
        text-align: center; }

@media (max-width: 1110px) {
  .container {
    width: 100%; }
  .contact__form {
    padding-right: 30px;
    padding-left: 30px; } }

@media (max-width: 989px) {
  .contact__form .contact__inner {
    padding-right: 30px !important; }
  .contact__form .contact .contact__right {
    width: 65%; }
    .contact__form .contact .contact__right .half {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between; }
      .contact__form .contact .contact__right .half input {
        width: 100%;
        margin-bottom: 20px; }
      .contact__form .contact .contact__right .half .pure-group {
        width: 100%; } }

@media (max-width: 700px) {
  .contact__form {
    padding-right: 10px;
    padding-left: 10px; }
    .contact__form .contact {
      flex-direction: column; }
      .contact__form .contact .contact__left {
        width: 100%; }
        .contact__form .contact .contact__left .contact__about .heading h5 {
          text-align: center; }
        .contact__form .contact .contact__left .contact__about :nth-child(2) {
          display: none; }
        .contact__form .contact .contact__left .contact__about :nth-child(3) {
          display: none; }
        .contact__form .contact .contact__left .contact__about :nth-child(4) {
          display: none; }
        .contact__form .contact .contact__left .contact__about .contact__working__time {
          display: none; }
      .contact__form .contact .contact__right {
        margin: auto;
        width: 100%; } }

footer {
  width: 100%;
  height: 70px;
  margin: auto;
  background: #03416e; }
  footer .footer__wraper {
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    footer .footer__wraper .footer__wraper__left {
      height: 100%;
      width: 55%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      padding-right: 10px; }
      footer .footer__wraper .footer__wraper__left .company__name {
        font-size: 16px; }
      footer .footer__wraper .footer__wraper__left span {
        width: 30px;
        height: 30px;
        margin-right: 10px; }
        footer .footer__wraper .footer__wraper__left span img {
          width: 100%;
          height: 100%;
          filter: invert(1); }
      footer .footer__wraper .footer__wraper__left h6 {
        color: #fff; }
    footer .footer__wraper .footer__wraper__right {
      height: 100%;
      width: 45%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding-left: 10px; }
      footer .footer__wraper .footer__wraper__right span {
        width: 30px;
        height: 30px;
        margin-right: 10px; }
        footer .footer__wraper .footer__wraper__right span img {
          width: 100%;
          height: 100%;
          filter: invert(1); }
      footer .footer__wraper .footer__wraper__right a {
        color: #fff; }
  footer .social {
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
  footer .footer__social {
    background: #03416e;
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center; }
    footer .footer__social p {
      color: #fff;
      margin-top: 0px;
      vertical-align: middle; }
      footer .footer__social p span {
        width: 16px;
        height: 16px; }
        footer .footer__social p span a {
          text-decoration: none; }
          footer .footer__social p span a svg {
            width: 16px;
            height: 16px;
            fill: #fff;
            stroke: #fff; }

body {
  font-family: 'Roboto', sans-serif;
  color: #929497; }

h2,
h3,
h4,
h5,
h6 {
  color: #03416e;
  clear: both;
  line-height: 1.2;
  font-weight: 500; }

.container {
  width: 1110px; }

.sticky {
  position: fixed;
  top: 0;
  background-color: #181818; }

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto; }
  header .header__top {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff; }
    header .header__top .logo {
      height: auto;
      width: 20%;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      header .header__top .logo img {
        height: 100%;
        width: 100%;
        transition: all .2s ease-out; }
    header .header__top .logo:hover img {
      transform: scale(1.05); }
    header .header__top .header__top__contact {
      width: 80%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center; }
      header .header__top .header__top__contact .header__top__item {
        width: 25%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center; }
        header .header__top .header__top__contact .header__top__item .header__top__item__inner {
          position: relative;
          font-size: 13px;
          cursor: default; }
          header .header__top .header__top__contact .header__top__item .header__top__item__inner img {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 15px; }
          header .header__top .header__top__contact .header__top__item .header__top__item__inner label {
            margin-left: 30px; }
          header .header__top .header__top__contact .header__top__item .header__top__item__inner span {
            margin-left: 30px;
            font-weight: bold; }
        header .header__top .header__top__contact .header__top__item .header__top__item__inner:hover span {
          color: #03416e; }
        header .header__top .header__top__contact .header__top__item .header__top__item__inner__lang {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center; }
          header .header__top .header__top__contact .header__top__item .header__top__item__inner__lang img {
            width: 20px;
            height: 15px;
            margin-right: 5px;
            border: 1px solid #03416e; }
        header .header__top .header__top__contact .header__top__item .lang {
          transition: all .2s ease; }
        header .header__top .header__top__contact .header__top__item .lang:hover {
          transform: scale(1.2); }
      header .header__top .header__top__contact .header__top__item__vertical:after {
        content: "";
        width: 3px;
        height: 50px;
        border-right: 1px solid #9294973d;
        margin-left: 15px; }
  header .header__bottom {
    width: 100%;
    background-color: #03416e;
    margin: auto;
    z-index: 1; }
    header .header__bottom nav {
      height: 60px;
      margin: auto;
      display: flex;
      flex-direction: row;
      align-items: center; }
      header .header__bottom nav .small-drop-btn {
        margin-right: 15px;
        cursor: pointer;
        position: absolute;
        right: 0px; }
      header .header__bottom nav ul {
        width: 40%;
        list-style: none;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between; }
        header .header__bottom nav ul li {
          display: inline-block;
          position: relative; }
          header .header__bottom nav ul li a {
            text-decoration: none; }
            header .header__bottom nav ul li a h2 {
              color: #fff;
              font-size: 14px;
              font-weight: 100;
              text-transform: capitalize;
              position: relative;
              padding: 21px 0px; }
            header .header__bottom nav ul li a h2::after {
              content: "";
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0px;
              margin: auto;
              background-color: #fff;
              opacity: 1;
              height: 3px;
              margin-top: 12px;
              width: 0;
              -khtml-transition: all .3s linear 0ms;
              -moz-transition: all .3s linear 0ms;
              -ms-transition: all .3s linear 0ms;
              -o-transition: all .3s linear 0ms;
              transition: all .3s linear 0ms; }
            header .header__bottom nav ul li a h2:hover::after {
              width: 100%; }

#nav-small {
  display: block;
  list-style-type: none;
  width: 100%;
  height: 0px;
  margin-top: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  font-size: 28px;
  /* Style The Dropdown Button */
  /* The container <div> - needed to position the dropdown content */
  /* Dropdown Content (Hidden by Default) */
  /* Links inside the dropdown */
  /* Change color of dropdown links on hover */
  /* Show the dropdown menu on hover */ }
  #nav-small .dropbtn {
    position: relative;
    border: none;
    cursor: pointer;
    padding: 5px 65px;
    font-size: 18px;
    border: 1px solid #a8a8a7;
    border-radius: 6px;
    margin: 0;
    outline: none; }
    #nav-small .dropbtn span {
      width: 8px;
      height: 8px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-8px);
      margin-right: 15px; }
      #nav-small .dropbtn span img {
        width: 100%;
        height: 100%; }
  #nav-small .dropdown {
    position: relative;
    display: inline-block; }
  #nav-small .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    top: 100%;
    border: 1px solid #f3f5f9;
    border-radius: 4px;
    z-index: 1; }
  #nav-small .dropdown-content::before {
    content: url("images/arrow-top.svg");
    position: absolute;
    top: -15px;
    right: 22px;
    width: 20px;
    height: 20px; }
  #nav-small .dropdown-content a {
    padding: 1px 1rem !important;
    text-decoration: none;
    display: block; }
  #nav-small .dropdown-content a::after {
    display: none; }
  #nav-small .dropdown-content a:hover {
    background-color: #f1f1f1; }
  #nav-small .dropdown:hover .dropdown-content {
    display: block; }

.small-drop-btn {
  margin-right: 15px;
  cursor: pointer; }

.small-drop-btn .line {
  width: 31px;
  height: 2px;
  display: block !important;
  background-color: #fff;
  margin: 8px auto;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out; }

.small-drop-btn .line:nth-child(3) {
  width: 22px;
  margin-left: 9px; }

.small-drop-btn.is-active .line:nth-child(2) {
  opacity: 0; }

.small-drop-btn.is-active .line:nth-child(1) {
  transform: translateY(10px) translateX(4px) rotate(45deg); }

.small-drop-btn.is-active .line:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
  width: 31px; }

.navbar-list-expanded {
  background: #03416e;
  opacity: 1;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 22px;
  position: absolute;
  top: 0px;
  padding-top: 20px;
  width: 100%;
  z-index: 999;
  animation: list1 1s ease-in-out; }

@keyframes list1 {
  0% {
    transform: translateY(-500px); }
  50% {
    transform: translateY(50px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

.navbar-list-expanded li {
  list-style: none;
  margin-bottom: 48px; }

.navbar-list-expanded a {
  text-decoration: none;
  transition: all .5s ease;
  color: #03416e; }
  .navbar-list-expanded a h2 {
    font-size: 25px; }

.navbar-list-expanded li:hover {
  /* border: 1px solid #fff; */ }

.navbar-list-expanded li:hover a {
  /* border: 1px solid #fff; */
  color: #343434; }

#navbar > li.dropdown > div {
  background-color: #343434;
  color: #fff;
  padding-top: 0px;
  position: absolute;
  top: 0px;
  left: 110px;
  /* border: 1px solid #fff; */ }

#navbar > li.dropdown > div a {
  background-color: #fff;
  color: #343434;
  border: 1px solid #fff;
  border-bottom: 1px solid #343434;
  padding: 10px 16px;
  /* text-decoration: none; */
  display: block; }

#navbar > li.dropdown > div a:hover {
  background-color: #343434;
  color: #fff; }

@keyframes list {
  0% {
    opacity: .2;
    transform: scale(1.3); }
  100% {
    opacity: 1;
    transform: scale(1); } }

.navbar-list-expanded a h2 {
  color: #fff; }

@media (min-width: 991.98px) {
  #nav-small {
    display: none; }
  .small-drop-btn {
    display: none; } }

@media (max-width: 991.98px) {
  #myHeader > nav > ul {
    display: none; } }

/* end of responsive nav */
@media (max-width: 1100px) {
  .container {
    width: 100%; } }

@media (max-width: 989px) {
  .container {
    width: 100%; }
  header .header__top {
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px; }
    header .header__top .logo {
      width: 18%; }
  header .header__top__item {
    width: unset; }
  header .header__top__item__empty {
    display: none !important; }
  header .header__top .header__top__contact .header__top__item__vertical:after {
    margin-left: 5px; }
  header .header__top .header__top__contact .header__top__item {
    width: unset;
    margin-left: 10px; }
  .carousel-div {
    top: 50px; }
    .carousel-div h1 {
      font-size: 2.5rem;
      line-height: 1.3; }
  #innerDiv1 p,
  #innerDiv2 p,
  #innerDiv3 p {
    font-weight: 500;
    font-size: 14px;
    width: 60%;
    margin: auto; }
  body > section.about.container > div.about__text > p {
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px; }
  .about .projects {
    padding: 0 30px; }
  .inner__link__left {
    left: 50%; }
  .inner__link__right {
    right: 50%; }
  footer .footer__wraper .footer__wraper__right {
    justify-content: center; }
  .main {
    padding: 0 20px; }
  .viewport p {
    transform: translateX(-410px); } }

@media (max-width: 800px) {
  .viewport p {
    transform: translateX(-310px); } }

@media (max-width: 720px) {
  header .header__top .header__top__contact .header__top__item:nth-child(3) {
    display: none; }
  .carousel-div {
    top: 25px; }
  footer .footer__wraper .footer__wraper__left {
    width: 60%; }
  footer .footer__wraper .footer__wraper__right {
    width: 40%; }
  .viewport p {
    transform: translateX(-250px); }
  .about .projects .project__1,
  .about .projects .project__2,
  .about .projects .project__3 {
    height: auto; } }

@media (max-width: 600px) {
  header .header__top {
    height: 60px; }
    header .header__top .logo {
      width: 80%;
      margin-left: 20px; }
    header .header__top .header__top__contact .header__top__item:nth-child(4) {
      display: none; }
    header .header__top .header__top__contact .header__top__item:nth-child(2) {
      margin-right: 40px; }
      header .header__top .header__top__contact .header__top__item:nth-child(2) label {
        display: none; }
      header .header__top .header__top__contact .header__top__item:nth-child(2) span {
        display: none; }
    header .header__top .header__top__contact .header__top__item__vertical:after {
      display: none; }
  #innerDiv1 h1,
  #innerDiv2 h1,
  #innerDiv3 h1 {
    width: auto;
    padding: 0 20px;
    font-size: 32px;
    text-align: center;
    line-height: 1.5; }
  #innerDiv1 p,
  #innerDiv2 p,
  #innerDiv3 p {
    display: none; }
  .carousel-div {
    top: 50px; }
  .carousel .carousel__nav {
    display: none; }
  body > section.about.container > div.about__text > p {
    padding-left: 10px;
    padding-right: 10px; }
  .about .projects {
    padding: 0 10px;
    grid-template-columns: 1fr;
    grid-template-areas: 'projects__header' 'project__1' 'project__2' 'project__3';
    gap: 0px;
    row-gap: 50px; }
  .about .btn__arrow {
    float: right; }
  .onama {
    flex-direction: column; }
    .onama .horizontal__line {
      width: 100%; }
  .usluge .jobOffer {
    flex-direction: column; }
  .usluge .jobOffer .servis {
    margin-bottom: 50px; }
  .usluge .jobOffer .montaza {
    margin-bottom: 50px; }
  .usluge .jobOffer .demontaza {
    margin-bottom: 50px; }
  .usluge .svg__container {
    width: 200px;
    height: 200px; }
  body > footer > div:nth-child(1) {
    height: 100px; }
  footer {
    height: 160px; }
    footer .footer__wraper {
      flex-direction: column; }
      footer .footer__wraper .footer__wraper__left {
        padding-right: 0px;
        height: 30%;
        width: 310px; }
        footer .footer__wraper .footer__wraper__left h6 {
          font-weight: 100;
          margin: 0; }
      footer .footer__wraper .footer__wraper__right {
        width: 60%;
        padding-left: 0;
        height: 50px; }
        footer .footer__wraper .footer__wraper__right a {
          font-weight: lighter; }
    footer .footer__social p {
      margin: 0px;
      margin-top: 20px; }
    footer .social {
      height: 40px; }
  .main {
    padding: 0 10px; }
  .viewport p {
    transform: translateX(-200px); } }

@media (max-width: 450px) {
  .viewport p {
    transform: translateX(-120px); } }
